body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.line {
    width: 60%;
    margin: auto;
    background: #3a4599;
    display: flex;
    height: 1%;
}

.header {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12%;
}

.navbar {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 4%;
    background-color: #cfcfcf;
}

.navbar-item {
    color: #3a4599;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Titillium Web';
    padding-left: 10px;
    padding-right: 10px;
}

.language-label {
    font-family: 'Titillium Web';
    text-decoration: none;
    color: black;
}

.logo-text {
    font-size: 20px;
    color: #f6a447;
    font-family: 'Titillium Web';
    font-weight: bold;
}

.info {
    width: 80%;
    margin: auto;
    display: block;
    padding-top: 2%;
}

.contact-lang{
    margin-top: 10%;
}
.header-right{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
   
}
.video{
width: 60%;
margin: auto;
}

.menu-items{
    margin-left: 3%;
}